<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Contact</h2>
  </div>

  <div class="row info ms-5">
    <div class="col">
      <div class="address">
        <i class="bi bi-geo-alt"></i>
        <h4>Location:</h4>
        <p>Chennai, Tamil Nadu - 600100</p>
      </div>
    </div>
    <div class="col">
      <div class="email">
        <i class="bi bi-envelope"></i>
        <h4>Email:</h4>
        <p>webstacker.io@gmail.com</p>
      </div>
    </div>
    <div class="col">
      <div class="phone">
        <i class="bi bi-phone"></i>
        <h4>Call:</h4>
        <p>+91 8089528456</p>
      </div>
    </div>
  </div>

</div>