<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="resume-title">Education</h3>
      <div class="resume-item">
        <h4>Master of Computer Applications</h4>
        <h5>2007 - 2010</h5>
        <p><em>PSR Engineering College, Sivakasi</em></p>
        <p>
          Transfomred in to a techie here to learn the substance of the
          bussiness by anticipating that the technology going to rule all in the
          future. so chosen this to stay in the compoetition.
        </p>
      </div>
      <div class="resume-item">
        <h4>Bachelor of Business Administration</h4>
        <h5>2004 - 2007</h5>
        <p><em>SSDM arts and science College, Kovilpatti, India</em></p>
        <p>
          Jumped to the college with the lot of constraints to make the dream
          come to real and big. So start learning about the business
          administration in order to cabitalise the opportunities.
        </p>
      </div>
    </div>
  </div>
</div>
