<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Resume</h2>
    <p>
      On my way of securing a challenging and dynamic role in a reputable organization where I can utilize my skills and
      experience to contribute to the growth and success of the company. Seeking a position that will allow me to work on
      exciting projects, collaborate with talented professionals, and continuously develop my skills and knowledge in web
      development.
    </p>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h3 class="resume-title">Sumary</h3>
      <div class="resume-item pb-0">
        <h4>Karthick Kalidass</h4>
        <p>
          <em>
            As a motivated and results-driven professional with 11 years of experience in website development, I
            have a passion for technology. With a proven track record of success in
            mobile app development, and web development, I am committed to delivering high-quality work and continuously
            improving processes and operations.
          </em>
        </p>
        <ul>
          <li>Perumbakkam, Chennai - 600100</li>
          <li>+91 8089528456</li>
          <li>webstacker.io.com</li>
        </ul>
      </div>

      <h3 class="resume-title">Education</h3>
      <div class="resume-item">
        <h4>Master of Computer Applications</h4>
        <h5>2007 - 2010</h5>
        <p><em>PSR Engineering College, Sivakasi</em></p>
        <p>Transfomred in to a techie here to learn the substance of the bussiness by anticipating that the technology going to
          rule all in the future. so chosen this to stay in the compoetition.
          </p>
      </div>
      <div class="resume-item">
        <h4>Bachelor of Business Administration</h4>
        <h5>2004 - 2007</h5>
        <p><em>SSDM arts and science College, Kovilpatti, India</em></p>
        <p>Jumped to the college with the lot of constraints to make the dream come to real and big. So start learning about the
          business administration in order to capitalise the opportunities.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <h3 class="resume-title">Professional Experience</h3>
      <div class="resume-item">
        <h4>Senior Tech Lead</h4>
        <h5>06/2022 - Present</h5>
        <p><em>HCL, Chennai</em></p>
        <ul>
          <li>Lead in the executing the plan with the team members</li>
          <li>Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project. </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4>Tech Lead</h4>
        <h5>08/2019 - 06/2022</h5>
        <p><em>Photon Infotech PVT LTD, Chennai</em></p>
        <ul>
          <li>
            Managed creative projects from concept to completion
            while managing outside vendors
          </li>
          <li>
            Built application platform foundation to support
            migration from client-server product lines to
            enterprise architectures and services.
          </li>

        </ul>
      </div>

      <div class="resume-item">
        <h4>Senior Technical Consultant</h4>
        <h5>02/2018 - 08/2019</h5>
        <p><em>RR Donnelley, Chennai</em></p>
        <ul>
          <li >
            Designed and implemented solutions on time and within
            budget while delivering high quality services
          </li>
          <li >
            Recommended technology upgrades and complementary
            products that could improve customer security.
          </li>

        </ul>
      </div>

    </div>
    <div class="col-lg-4">

      <div class="resume-item">
        <h4>Senior Software Engineer</h4>
        <h5>06/2017 - 02/2018</h5>
        <p><em>High Peak Software, bengaluru</em></p>
        <ul>
          <li>Built outstanding and dynamic team of software engineers and developers which significantly boosted overall success of organization.</li>
          <li>Suggested improvements to team and project workflow. </li>
        </ul>
      </div>
      <div class="resume-item">
        <h4>Tech Lead</h4>
        <h5>05/2016 - 05/2017</h5>
        <p><em>Evoke Technologies, Hyderabad</em></p>
        <ul>
          <li>
            Enhanced and reconstructed computer systems resulting in 50% increased efficiency for business end-users.
          </li>
          <li>
            Applied knowledge of data modelling and statistical analysis to note trends and draw conclusions
          </li>

        </ul>
      </div>

      <div class="resume-item">
        <h4>Senior Software Engineert</h4>
        <h5>12/2013 - 08/2015</h5>
        <p><em>Techversant Infotech, Thiruvananthapuram</em></p>
        <ul>
          <li >
            Worked with project managers, developers,quality assurance and customers to resolve technical issues
          </li>
          <li >
            Researched, designed and implemented scalable applications for information identification, extraction, analysis, retrieval and indexing.
          </li>

        </ul>
      </div>

      <div class="resume-item">
        <h4>Software Engineer</h4>
        <h5>07/2011 - 12/2013</h5>
        <p><em>Mitrahsoft, Kovilpatti</em></p>
        <ul>
          <li >
            Collaborated with cross-functional development team members to analyze Researched, designed and implemented scalable client requirements.
          </li>
          <li >
            Gathered requirements for the task and implemented the same with value adds.
          </li>

        </ul>
      </div>

    </div>
  </div>

</div>