<div class="container" data-aos="fade-up">

  <div class="section-title">
    <h2>Professional Experience</h2>
    <p class="resume-header">
      On my way of securing a challenging and dynamic role in a reputable organization where I can utilize my skills and
      experience to contribute to the growth and success of the company. Seeking a position that will allow me to work on
      exciting projects, collaborate with talented professionals, and continuously develop my skills and knowledge in web
      development.
    </p>
  </div>

  <div class="row">

    <div class="col-lg-12">
      <p-timeline [value]="workExperiences" align="alternate" styleClass="customized-timeline">
        <ng-template pTemplate="marker" let-work>
          <span class="custom-marker shadow-2" [class.filled-marker]="work.endDate !== 'Present'">
            <i class="bi bi-briefcase"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="content" let-work>
          <p-card
            [header]="work.company + ' - ' + work.role"
            [subheader]="work.startDate + ' - ' + work.endDate"
            styleClass="exp-card">
            <!-- Bind the animation trigger to the content element -->
            <!-- <div [@contentAnimation]="work.state">
              <p>{{ work.description }}</p>
            </div> -->
            <ng-template #tooltipContent>
              <div class="flex align-items-center tooltip-box">

                  <span>
                    {{ work.description }}
                  </span>
              </div>
          </ng-template>
          </p-card>
        </ng-template>
      </p-timeline>

    </div>

  </div>

</div>
