<i class="bi bi-list mobile-nav-toggle d-xl-none" (click)="openMobileNav()"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bi bi-house-door"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bi bi-person"></i> <span>About</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bi bi-lightning-charge"></i> <span>Skills</span></a></li>
        <li><a href="#education" class="nav-link scrollto"><i class="bi bi-book"></i> <span>Education</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bi bi-folder2-open"></i> <span>Experience</span></a></li>
        <!-- <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li> -->
        <!-- <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li> -->
        <li><a href="#contact" class="nav-link scrollto"><i class="bi bi-envelope"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header>
